<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maintenance Manatee</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body class="bg-indigo-50 flex min-h-screen flex-col justify-between">
    <header class="bg-white">
      <!-- navbar and menu -->
      <section class="shadow">
        <div class="flex justify-around items-center py-1 container mx-auto">
          <!-- Logo Section -->
          <div>
            <a href="/" class="flex flex-row items-center">
              <img class="w-14 sm:w-24 align-center sm:p-0" src="/images/mmLogo.png" alt="Maintenance Manatee Logo" />
              <h1
                class="sm:text-2xl font-bold bg-gradient-to-tr from-indigo-600 to-green-600 bg-clip-text text-transparent hover:cursor-pointer pl-4"
              >
                Maintenance<br />
                Manatee
              </h1>
            </a>
          </div>
          {{#if loggedIn}}
          <h2
            class="hidden lg:block text-2xl font-bold bg-gradient-to-tr from-indigo-600 to-green-600 bg-clip-text text-transparent"
          >
            Welcome {{firstName}}
          </h2>
          {{/if}}

          <!-- nav links -->
          <div>
            <button id="hamburger-button" class="text-4xl md:hidden focus:outline-none">&#9776;</button>
            <nav class="hidden md:flex items-center" aria-label="main">
              <ul class="sm:flex space-x-4 hidden items-center">
                <li><a href="/" class="text-gray-700 hover:text-indigo-600 text-md">Home</a></li>
                <li><a href="/add-vehicle" class="text-gray-700 hover:text-indigo-600 text-md">New Vehicle</a></li>
                <!-- <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md">Upcoming Maintenance</a></li> -->
              </ul>

              <div class="md:flex items-center hidden space-x-4 ml-5 lg:ml-12">
                {{#if loggedIn}}
                <button id="logout" class="text-text-gray-600 py-2 hover:cursor-pointer hover:text-indigo-600">LOGOUT</button>
                {{else}}
                <a href="/login" class="text-text-gray-600 py-2 hover:cursor-pointer hover:text-indigo-600">LOGIN</a>
                <a
                  href="/signup"
                  class="text-text-gray-600 py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg"
                >
                  SIGNUP
                </a>
                {{/if}}
              </div>
            </nav>
          </div>
        </div>
      </section>
      {{!-- small screen navbar --}}
      <section id="mobile-menu" class="absolute top-0 bg-indigo-600 w-full text-4xl flex-col justify-content-center origin-top hidden">
        <button class="text-7xl text-white self-end px-6">&times;</button>
        <nav class="flex flex-col min-h-screen items-center py-8" aria-label="mobile">
          <a href="/" class="width-full text-white text-center py-6 hover:scale-105 duration-200 transition ease-in-out">Home</a>
          <a href="/add-vehicle" class="width-full text-white text-center py-6 hover:scale-105 duration-200 transition ease-in-out">New Vehicle</a>
          {{#if loggedIn}}
          <button id="logout-hamburger" class="width-full text-white text-center py-6 hover:scale-105 duration-200 transition ease-in-out">Logout</button>
          {{else}}
          <a href="/login" class="width-full text-white text-center py-6 hover:scale-105 duration-200 transition ease-in-out">Login</a>
          <a href="/signup" class="width-full text-white text-center py-6 hover:scale-105 duration-200 transition ease-in-out">Signup</a>
          {{/if}}
        </nav>
      </section>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer class="bg-indigo-500 relative bottom-0 w-full mt-4">
      <div class="mx-auto max-w-screen-xl px-4 py-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center justify-center">
          <a class="flex justify-center" href="/"><img class="w-24" src="/images/maintenance-manitee-left.png" alt="maintenance manatee" /></a>
          <p class="mt-4 text-center text-md text-black lg:mt-0 lg:text-right">Copyright &copy; 2023 Maintenance Manatee. All rights reserved.</p>
          <a class="flex justify-center" href="/"><img class="w-24" src="/images/maintenance-manitee-right.png" alt="maintenance manatee" /></a>
        </div>
      </div>
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/main.js"></script>
  </body>
</html>