<h1 class="text-2xl text-indigo-600 font-bold mb-6 ml-3 text-center pt-10">Add A New Vehicle</h1>
<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form id="addvehicle-form" method="POST" class="text-center">
      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-indigo-500"> Make </label>
        <input
          type="text"
          name="make"
          id="manufacturer"
          class="w-full rounded-md border border-indigo-500 bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="email" class="mb-3 block text-base font-medium text-indigo-500"> Model </label>
        <input
          type="text"
          name="model"
          id="model"
          class="w-full rounded-md border border-indigo-500 bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-indigo-500"> Year </label>
        <input
          type="text"
          name="year"
          id="year"
          class="w-full rounded-md border border-indigo-500 bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-indigo-500"> Color </label>
        <input
          type="text"
          name="color"
          id="color"
          class="w-full rounded-md border border-indigo-500 bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-indigo-500"> Car's Name </label>
        <input
          type="text"
          name="nickname"
          id="nickname"
          class="w-full rounded-md border border-indigo-500 bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md"
        />
      </div>
      <div>
        <button class="hover:shadow-form rounded-md bg-indigo-500 py-3 px-8 text-base font-semibold text-white outline-none w-full">
          ADD VEHICLE
        </button>
      </div>
    </form>
  </div>
</div>
<script src="./js/addvehicle.js"></script>